<!doctype html>
<html>
        <head>
                <title>Home Page</title>
        </head>
        <body>
                <h1>Information </h1>
                <h3>Current Time in IST : </h3><h3>{{val1}}</h3><br>
                <h3>IP Address : </h3><h3>{{val2}}</h3><br>
                <h3>Hostname : </h3><h3>{{val3}}</h3><br>
                <h3>City : </h3><h3>{{val4}}</h3><br>
                <h3>Region : </h3><h3>{{val5}}</p><br>
                <h3>Country : </h3><h3>{{val6}}</h3>
        </body>
</html>
